# Virtual environment
venv/
.venv/
env/

# Large model files
outputs/models/best_model.pt
outputs/models/*.pt

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

**/README.md

ML_Take_Home.txt

docs/


# Logs
outputs/logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/

# Docker ignore file (internal)
.dockerignore